body {
  background-color: rgb(220, 169, 160);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  height: 800px;
  width: 800px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

#player {
  background-color: rgb(199, 126, 59);
  position: absolute;
}

.obstacle {
  background-color: rgb(229, 32, 32);
  position: absolute;
}

#life-counter {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
}

#game-over-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

#start-again-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
