/* Main Style */
body {
  background-color: rgb(220, 169, 160);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  height: 800px;
  width: 800px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

#player {
  background-color: rgb(199, 126, 59);
  position: absolute;
}

.obstacle {
  background-color: rgb(229, 32, 32);
  position: absolute;
}

#life-counter {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
}

#recipe-display {
  position: fixed;
  top: 10px;
  right: 100px;
  font-size: 20px;
  color: white;
}

#time-counter {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Instructions Style */
#instructions {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#instructions-message {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ingredients */
.ingredient {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ingredient.flour {
  background-color: #ece8e1;
}

.ingredient.milk {
  background-color: #cddaff;
}

.ingredient.egg {
  background-color: #f3e86f;
}

.ingredient.chocolate {
  background-color: #a35015;
}

/* End Game Style */
#game-over-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

#victory-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  text-align: center;
  background-color: rgba(231, 209, 101, 0.8);
  padding: 20px;
  border-radius: 10px;
}

#start-again-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
